.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.avatarSize {
    height: 200px;
    width: 200px;
}

.url {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    margin-top: 20px;
    gap: 5px;
}

.url a {
    color: blue;
}

.userInfo {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.userDetails {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 30px;
}

.username {
    font-size: 25px;
}

.bio {
    font-size: 15px;
    margin-top: 10px;
}

.location {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    margin-top: 10px;
    gap: 5px
}

@media screen and (max-width: 576px) {
    .userInfo {
        flex-direction: column;
    }

    .userDetails {
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .avatarSize {
        height: 100px;
        width: 100px;
    }

    .url {
        font-size: 15px;
    }

    .username {
        font-size: 20px;
    }

    .location {
        font-size: 15px;
        margin-top: 5px;
    }
}